body {
	min-height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: flex-start;
	width: 50%;

	top: 10px;
	height: 93vh;

	border: 5px solid black;
	padding: 18px;
}

.header {
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	height: 100px;
	width: 100%;
}
.data {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	gap: 25px;
	width: 100%;
}

.dataview {
	display: flex;
	width: 100%;
	gap: 50px;
}
.dataoperation {
	display: flex;
	width: 100%;
	gap: 50px;
}
.data-container {
	display: flex;
	width: 100%;
	gap: 50px;
}
.strikethrough {
	text-decoration: line-through;
}
